<p>mapa-visual works!</p>
<mgl-map [style]="'mapbox://styles/mapbox/streets-v9'" [zoom]="[14.5]" [center]="[-77.0824914,-12.0587117]" [maxBounds]="[[-81.594163,-18.733253], [-68.608323, 0.479432]]">


    <mgl-control mglGeocoder [searchInput]="'Universidad Nacional Mayor de San Marcos'" [countries]="'pe'" [limit]="5" (result)="onGeocoder($event)"></mgl-control>




    <!--MARKER EMPRESAS-->
    <div *ngFor="let i of empresaService.empresas">
        <mgl-marker #myMarker [lngLat]="[i.ubicacion.longitud,i.ubicacion.latitud]">
            <div class="marker" style="background-image: url(/assets/img/icono1.svg); width: 50px; height: 50px
            "></div>
        </mgl-marker>

        <mgl-popup [marker]="myMarker" [closeOnClick]="true">
            {{i.nombre}}
        </mgl-popup>
    </div>
    <!--END MARKER EMPRESAS-->




    <mgl-control mglGeolocate [positionOptions]="{
          enableHighAccuracy: true
        }" [trackUserLocation]="true" (geolocate)="onGeolocate($event)" position="top-right"></mgl-control>




    <mgl-control mglFullscreen position="bottom-right"></mgl-control>
    <mgl-control mglNavigation position="bottom-right"></mgl-control>





</mgl-map>