<h1>test-ngx-mapbox</h1>
<nav>
    <a routerLink="/cliente">Cliente</a>
    <a routerLink="/empresa">Empresa</a>
</nav>
<router-outlet></router-outlet>
<br>
<span *ngFor="let i of empresasService.empresas">
    <br>
   <span>{{i.id }}</span> <span>{{i.nombre }}</span> <span>{{i.ubicacion.longitud }},</span><span>{{i.ubicacion.latitud}}</span>
</span>
<br>
<span *ngFor="let i of clienteService.clientes">
    <br>
   <span>{{i.id }}</span> <span>{{i.nombre }}</span> <span>{{i.ubicacion.longitud }},</span><span>{{i.ubicacion.latitud}}</span>
</span>